{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container shadow rounded bg-light p-0 tile" style="max-width: 480px; margin: 50px auto">
		<header class="bg-primary text-center p-2">
			<span class="mx-auto">Lion's Den</span>
		</header>
		<div class="container p-4 forms">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					{{ form|crispy }}
				</fieldset>
				<div class="container text-center">
					<button class="btn btn-primary rounded" type="submit">{{ submit_button_label }}</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}