.light-theme{
	--colorPrimary: #68b733;
	--colorPrimaryDark: #528F29;
	--colorForeground: #808080;
	--colorBackground: #FFFFFF;
	--colorContrast: #808080;
	--colorAccent: #CED4DA;
}

.dark-theme{
	--colorPrimary: #528F29;
	--colorPrimaryDark: #3b661e;
	--colorForeground: #808080;
	--colorBackground: #262626;
	--colorContrast: #d0d0d0;
	--colorAccent: #454545;
}

body{
	background-color: var(--colorBackground);
}

h1, h2, h3, h4, h5, h6, a, legend {
	margin: 0px;
	color: var(--colorPrimary);
}

p, label {
	color: var(--colorForeground);
}

input[type=text], input[type=password], input[type=number], textarea, .selectdatewidget, .select {
	background-color: var(--colorBackground) !important;
	color: var(--colorContrast) !important;
	border: 1px solid var(--colorAccent) !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
audio:focus,
select:focus,
.uneditable-input:focus {
	border-color: var(--colorPrimary) !important;
	box-shadow: var(--colorPrimary) !important;
	outline: 0 none;
	background-color: var(--colorBackground) !important;
	color: var(--colorContrast);
}


/* Crispy Form classes */

.selectdatewidget, .select {
	width: auto;
	display: inline;
}

.modal-content, .dropdown-menu, .dropdown-item {
	background-color: var(--colorBackground) !important;
	color: var(--colorContrast) !important;
}

/* Bootstrap classes */

.bg-primary, .btn-primary {
	background-color: var(--colorPrimary) !important;
	border-color: transparent !important;
	color: var(--colorBackground) !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.btn-primary:focus, button.btn-primary:hover, input[type="button"].btn-primary:focus, input[type="button"].btn-primary:hover{
	background-color: var(--colorPrimaryDark) !important;
}

.navbar-nav{
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

.navbar-brand{
	color: var(--colorBackground) !important;
}

.dropdown-menu{
	border: 1px solid var(--colorAccent) !important;
}

.dropdown-divider{
	border-top: 1px solid var(--colorAccent) !important;
}

.modal-header{
	border-bottom: 1px solid var(--colorAccent) !important;
}

.modal-footer{
	border-top: 1px solid var(--colorAccent) !important;
}

/* Custom classes */

.tile {
	border: 1px solid var(--colorAccent) !important;
	overflow: hidden;
}

.forms {
	background-color: var(--colorBackground) !important;
}

.no-vertical-padding{
	padding-top: 0px;
	padding-bottom: 0px;
}

.vertical-center {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.button {
	border: 1px solid;
	background-color: transparent;
	cursor: pointer;
}

.outline {
	border-color: var(--colorPrimary);
	color: var(--colorPrimary);
}

.outline:hover {
	background-color: var(--colorPrimary);
	color: var(--colorBackground);;
}

.content-section {
	padding: 10px;
    border: 1px solid var(--colorContrast);
    border-radius: 10px;

}

.subject-thumbnail {
    object-fit: cover;
    height: 83px;
    width: 83px;
    margin-top: auto;
    margin-bottom: auto;
}

.tile-label {
	padding-top: 25px;
	padding-bottom: 25px;
}

.subject-table {
    table-layout: fixed;
    width: 100%
}

.zoo-thumbnail {
	float: center;
    object-fit: cover;
    height: 90px;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
}

a.add-button:focus, a.add-button:hover {
	color: var(--colorPrimaryDark);
	display: inline;
}