.light-theme {
	--colorPrimary: #68b733;
	--colorPrimaryDark: #528F29;
	--colorForeground: #808080;
	--colorBackground: #F8F8F8;
	--colorContrast: #808080;
	--colorAccent: #CED4DA;
}

.dark-theme {
	--colorPrimary: #528F29;
	--colorPrimaryDark: #3b661e;
	--colorForeground: #808080;
	--colorBackground: #262626;
	--colorContrast: #d0d0d0;
	--colorAccent: #3d3d3d;
}


/* Default tags-------------------------------------------------------------------------------------------------------*/
body {
	background-color: var(--colorBackground);
}

h1, h2, h3, h4, h5, h6, a, legend {
	color: var(--colorPrimary);
}

p, label, pre {
	color: var(--colorForeground);
}

input[type=text], input[type=password], input[type=number], textarea, .selectdatewidget, .select {
	background-color: var(--colorBackground) !important;
	color: var(--colorContrast) !important;
	border: 1px solid var(--colorAccent) !important;
}

textarea:focus,
input[type="checkbox"],
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
audio:focus,
select:focus,
.uneditable-input:focus {
	box-shadow: var(--colorPrimary) !important;
	outline: 0 none;
	background-color: var(--colorBackground) !important;
	color: var(--colorContrast);
}

a.bg-primary:focus,
a.bg-primary:active,
a.bg-primary:hover,
button.btn-primary:focus,
button.btn-primary:hover,
button.btn-primary:active,
input[type="button"].btn-primary:focus,
input[type="button"].btn-primary:hover,
input[type="button"].btn-primary:active {
	background-color: var(--colorPrimaryDark) !important;
	box-shadow: var(--colorPrimary) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--colorContrast) !important;
	-webkit-box-shadow: 0 0 0 30px var(--colorBackground) inset !important;
}

input[type="file"] {
	color: var(--colorForeground);
}

a:focus, a:hover, a:active {
	color: var(--colorPrimaryDark);
}


/* Crispy Forms-------------------------------------------------------------------------------------------------------*/
.selectdatewidget, .select {
	width: auto;
	display: inline;
}


/* Bootstrap----------------------------------------------------------------------------------------------------------*/
.text-primary {
	color: var(--colorPrimary) !important;
}

.bg-primary, .btn-primary {
	background-color: var(--colorPrimary) !important;
	border-color: transparent !important;
	color: var(--colorBackground) !important;
}

.navbar-nav {
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

.navbar-brand, .navbar .nav-link {
	color: var(--colorBackground) !important;
}

.navbar-brand:hover, .navbar .nav-link:hover {
	color: var(--colorContrast) !important;
}

.dropdown-menu {
	border: 1px solid var(--colorAccent) !important;
}

.dropdown-divider {
	border-top: 1px solid var(--colorAccent) !important;
}

.modal-content, .dropdown-menu, .dropdown-item {
	background-color: var(--colorBackground) !important;
	color: var(--colorContrast) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--colorAccent) !important;
}

.modal-header {
	border-bottom: 1px solid var(--colorAccent) !important;
}

.modal-footer {
	border-top: 1px solid var(--colorAccent) !important;
}

.list-group-item {
	color: var(--colorContrast);
	background-color: var(--colorBackground);
	border: 1px solid var(--colorAccent) !important;
}

div.border {
	border: 1px solid var(--colorAccent) !important;
}

div.border-bottom {
	border-bottom: 1px solid var(--colorAccent) !important;
}

.table-bordered td, .table-bordered th {
	border: 1px solid var(--colorAccent) !important;
}

.table {
	color: var(--colorForeground) !important;
}

.table td, .table th {
	border-top: 1px solid var(--colorAccent);
}

.table thead th {
	border-bottom: 2px solid var(--colorAccent);
}

div.ticket-tabs-nav {
	border-bottom: 1px solid var(--colorAccent);
}

.nav-tabs {
	border-bottom: 1px solid var(--colorAccent);
}

.nav-tabs .nav-link.active {
	color: var(--colorPrimaryDark);
}

.nav-tabs .nav-link.active {
	background-color: var(--colorBackground);
	border-color: var(--colorAccent) var(--colorAccent) transparent var(--colorAccent);
	color: var(--colorPrimary);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: var(--colorAccent) var(--colorAccent) transparent var(--colorAccent);
}

/* Custom-------------------------------------------------------------------------------------------------------------*/
.page-header{
	margin-bottom: 12px;
}

.zoo-page-btn {
	border: 1px solid;
	background-color: transparent;
	border-color: var(--colorPrimary);
	color: var(--colorPrimary);
}

.zoo-page-btn:hover {
	background-color: var(--colorPrimary);
	color: var(--colorBackground);
}

.zoo-page-btn + .zoo-page-btn {
	margin-top: 32px !important;
}

div.form-section {
	padding-top: 16px;
	padding-bottom: 16px;
}

div.form-section + div.form-section {
	border-top: 1px solid var(--colorAccent);
}

nav, .navbar-image {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.tile {
	border: 1px solid var(--colorAccent) !important;
	overflow: hidden;
	padding: 10px;
	border-radius: 10px;
}

.tile-label {
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0px;
}

.subject-thumbnail {
	object-fit: cover;
	height: 83px;
	width: 83px;
	margin-top: auto;
	margin-bottom: auto;
}

.zoo-thumbnail {
	float: center;
	object-fit: cover;
	height: 90px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

img#id_subject_image-display {
	border: 5px solid var(--colorPrimary);
}

a.icon-button {
	cursor: pointer;
}

a.add-button {
	position: absolute;
}

a.add-button:focus, a.add-button:hover {
	color: var(--colorPrimaryDark);
	display: inline;
}

a.direction-button:focus, a.direction-button:hover {
	color: var(--colorPrimaryDark);
}

a.edit-ticket-button {
	color: var(--colorForeground);
}

a.edit-ticket-button:focus, a.edit-ticket-button:hover {
	color: var(--colorPrimaryDark);
}

div.comment {
	border: 1px solid var(--colorAccent);
	border-radius: .25rem;
	overflow: hidden;
}

div.comment a.edit-ticket-button {
	display: none;
}

div.comment:hover a.edit-ticket-button {
	display: block;
}

div.comment-header {
	background-color: var(--colorAccent) !important;
	color: var(--colorForeground);
	padding: .75rem 1.25rem;
    margin-bottom: 0;
}

div.comment-body {
	background-color: var(--colorBackground);
	color: var(--colorForeground);
	padding: .75rem 1.25rem;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: .1rem;
	margin-right: .1rem;
}

div.ticket-tab-content {
	border-left: 1px solid var(--colorAccent);
	border-right: 1px solid var(--colorAccent);
	border-bottom: 1px solid var(--colorAccent);
}

div.notification-count {
	position: relative;
	left: -2rem;
}

span.notification-count {
	background: red;
	pointer-events: none;
	position: absolute;
	border-radius: 50%;
}
