:root{
	--colorPrimary: #68b733;
	--colorPrimaryDark: #528f29;
	--colorForeground: #808080;
	--colorBackground: #ffffff;
}

h1{
    color: #68b733;
}

td, p{
	white-space: pre-wrap;
}

textarea {
	resize: both;
}

.no-vertical-padding{
	padding-top: 0px;
	padding-bottom: 0px;
}

.bg-primary{
	background-color: var(--colorPrimary) !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover{
	background-color: var(--colorPrimaryDark) !important;
}

.navbar-nav{
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}