{% load crispy_forms_tags %}
{% load zoo_editor_tags %}

<div class="row form-section">
	<table class="mx-2 my-4">
		<tr>
			<td height="32px">
				{% if not is_top_form %}
					{% with id='up_button_'|addstr:form_index onclick='decreaseCategoryPosition('|addstr:form_index|addstr:')' %}
						{% include 'utils/buttons/up.html' with css_class='direction-button' %}
					{% endwith%}
				{% endif %}
			</td>
		</tr>
		<tr>
			<td height="32px">
				{% with id='down_button_'|addstr:form_index onclick='increaseCategoryPosition('|addstr:form_index|addstr:')' %}
					{% include 'utils/buttons/down.html' with css_class='direction-button' hidden=is_bottom_form %}
				{% endwith %}
			</td>
		</tr>
	</table>
	<div id="form_fields_slot_{{ form_index }}" class="col" style="float:right">
		{{ form.name|as_crispy_field }}
		{{ form.DELETE|as_crispy_field }}
		{{ form.id.as_hidden }}
		{{ form.ORDER.as_hidden }}
	</div>
</div>