{% extends 'base.html' %}
{% load lions_den_tags %}

{% block content %}
	<div class="page-header">
		<h2 class="title pr-2" style="display:inline-block">Locations</h2>
		{% include 'utils/buttons/plus.html' with css_class='add-button' onclick="getModal('add_location')" tooltip_text='Add a new location' %}
	</div>
	
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for location in locations %}
			<tr>
				<td><a href="{{ location.id }}">{{ location.name }}</a></td>
				<td>{% include 'utils/buttons/close.html' with css_class='close' stroke='var(--danger)' onclick="getModal('modal_delete_location', 'location_id="|addstr:location.id|addstr:"')" %}</td>
			</tr>
			{% endfor %}
{% endblock %}
