{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<form enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		{{ attributes_formset.management_form }}
		
		{% include 'zoo_editor/subject_form_fields.html' with form=subject_form %}
		
		<div class="form-section">
			<h3 class="pr-2" style="display:inline-block">Attributes</h3>
			{% if not subject.has_max_attributes %}
				{% include 'utils/buttons/plus.html' with css_class='add-button' onclick="getModal('modal_new_attribute')" tooltip_text='Add a new attribute' %}
			{% endif %}
			<br/>
			<br/>
			<table>
				{{ attributes_formset|crispy }}
			</table>
		</div>
		<button type="submit" name="submit_subject" class="btn btn-primary">Submit</button>
	</form>
{% endblock content %}

{% block extra_navbar_items %}
	{% include 'utils/buttons/qr_code.html' with css_class='navbar-image mx-3' stroke='var(--colorBackground)' onclick="getModal('modal_qr_code')" %}
{% endblock %}