{% load crispy_forms_tags %}
{{ form.media }}

<div class="form-section">
	{{ form.name|as_crispy_field }}
	
	{% if subject.species and subject.individuals %} {# Groups #}
		<hr>
		<div class="row">
			<div class="col">
				{{ form.species|as_crispy_field }}
			</div>
			<div class="col">
				{{ form.individuals|as_crispy_field }}
			</div>
		</div>
	{% elif subject.species %} {# Individuals Page #}
		<table>
			<tr>
				<td><label>Species:</label></td>
				<td><h3 class="mx-2">{{ subject.species.name }}</h3></td>
			</tr>
		</table>
	{% elif form.species and not form.individuals %} {# New Individual Modal Form #}
		{{ form.species|as_crispy_field }}
	{% endif %}
</div>

<div class="form-section">
	{{ form.image|as_crispy_field }}
</div>

{% if 'audio' in form.fields %}
	<div class="form-section">
		{{ form.audio|as_crispy_field }}
	</div>
{% endif %}

{% if 'location' in form.fields %}
	<div class="form-section">
		{{ form.location|as_crispy_field }}
	</div>
{% endif %}

{% if 'gender' in form.fields %}
	<div class="form-section">
		{{ form.gender|as_crispy_field }}
	</div>
{% endif %}

{% if 'dob' in form.fields or 'place_of_birth' in form.fields %}
	<div class="form-section">
		{% if 'dob' in form.fields %}
			{{ form.dob|as_crispy_field }}
		{% endif %}
		
		{% if 'place_of_birth' in form.fields %}
			{{ form.place_of_birth|as_crispy_field }}
		{% endif %}
	</div>
{% endif %}

{% if 'weight' in form.fields or 'size' in form.fields %}
	<div class="form-section">
		{% if 'weight' in form.fields %}
			{{ form.weight|as_crispy_field }}
		{% endif %}
		
		{% if 'size' in form.fields %}
			{{ form.size|as_crispy_field }}
		{% endif %}
	</div>
{% endif %}