{% extends "base.html" %}
{% block content %}
	<div class="container">
		<table class="mb-5" style="width:100%">
			<tr>
				<td style="width:33.33%">
					<img class="zoo-thumbnail" style="float:left" src="{{ zoo.image.url }}"/>
				</td>
				<td style="width:33.33%; text-align:center">
					<h1 class="title">{{ zoo.name }}</h1>
				</td>
				<td style="width:33.33%">
					<span style="float:right"
						{% if not zoo.can_commit %}
							data-toggle="tooltip" data-placement="top"
							title="Cannot commit to the Zooverse app. Please wait another {{ zoo.days_until_commit_allowed }} day{{ zoo.days_until_commit_allowed|pluralize:'s' }}."
						{% endif %}>
						<button type="button" class="btn btn-warning"
								{% if zoo.can_commit %}
									onclick="getModal('modal_zoo_commit')"
								{% else %}
									disabled style="pointer-events:none;"
								{% endif %}
						>Commit to ZooVerse</button>
					</span>
				</td>
			</tr>
		</table>
		
		<button type="button" class="zoo-page-btn btn-lg btn-block my-1" onclick="location='{% url 'species_list' zoo_id=zoo.id %}'">Species</button>
		
		<button type="button" class="zoo-page-btn btn-lg btn-block my-1" onclick="location='{% url 'individuals_list' zoo_id=zoo.id %}'">Individuals</button>
		
		<button type="button" class="zoo-page-btn btn-lg btn-block my-1" onclick="location='{% url 'groups_list' zoo_id=zoo.id %}'">Groups</button>
		
		<button type="button" class="zoo-page-btn btn-lg btn-block my-1" onclick="location='{% url 'attribute_categories_list' zoo_id=zoo.id %}'">Attribute Categories</button>
		
		<button type="button" class="zoo-page-btn btn-lg btn-block my-1" onclick="location='{% url 'locations_list' zoo_id=zoo.id %}'">Locations</button>
		
	</div>
{% endblock %}