<div class="mx-3 mb-4 shadow-lg tile" style="cursor:pointer" onclick="{{ tile_onclick }}">
	<div class="row">
		<div class="col-sm" style="max-width:30%">
			<img class="{{ img_class }}" src="{{ img_src }}" style="max-width:100%"/>
		</div>
		<div class="col-sm" style="max-width:40%">
			<h2 class="tile-label text-center">{{ label }}</h2>
		</div>
		{% if delete_btn_onclick %}
			<div class="col-sm" style="display:inline-block; float:right">
				<button type="button" class="close tile-delete-btn" style="color:var(--danger)" onclick="{{ delete_btn_onclick }}">
					<svg id="i-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="padding:4 4 0 0">
						<path d="M2 30 L30 2 M30 30 L2 2"></path>
					</svg>
				</button>
			</div>
		{% endif %}
	</div>
</div>