{% load static %}
<div aria-live="polite" aria-atomic="true">
	<div class="toast" data-animation="true" data-delay="2500" data-autohide="true" style="position: absolute; top:68px; right:4px">
		<div class="toast-header">
			<img class="mr-2" src="{% static 'images/logo.png' %}" style="height:20" alt="Zooverse"/>
			<strong class="mr-auto text-primary">Lion's Den</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
		</div>
		<div class="toast-body">
			{{ body }}
		</div>
	</div>
</div>