{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="page-header">
		<h2 class="title pr-2" style="display:inline-block">Attribute Categories</h2>
		{% include 'utils/buttons/add.html' with onclick="getModal('modal_new_category')" tooltip_text='Add a new attribute category' %}
	</div>
	
	<form class="form-horizontal" method="POST" action="">
		{% csrf_token %}
		{{ formset.management_form }}
		{{ formset|crispy }}
		<button type="submit" name="submit_categories" class="btn btn-primary">Save</button>
	</form>
{% endblock %}