{% load model_editor_extras %}

<label>{{ title }}</label>

<br>

{{ form_field }} {# Form field is hidden so alternate controls can be used #}

<select style="min-width:12em" class="select" id="group_select_{{ members_type }}">
	<option selected></option>
	{# Options will be retrieved via Javascript from the form field #}
</select>
<button type="button" onclick="addMemberToGroup('{{ members_type }}')">Add</button>

<ul id="group_list_{{ members_type }}" class="list-group">
	{# Options will be retrieved via Javascript from the form field. The following is used as a template for those list items #}
	<li id="GROUP_LIST_ITEM_TEMPLATE_{{ members_type }}" class="list-group-item" hidden>
		[MEMBER_NAME]
		{% include 'utils/buttons/delete.html' with onclick="removeMemberFromGroup('"|addstr:members_type|addstr:"', [VALUE])" %}
	</li>
</ul>
