<legend>{{ title }}</legend>

<select style="min-width:12em" class="select" id="group_{{ members_type }}_select">
	<option value selected></option>
	{% for non_member in non_members %}
		<option value="{{ non_member.id }}">{{ non_member.name }}</option>
	{% endfor %}
</select>
<button onclick="addMemberToGroup('{{ members_type }}')">Add</button>

<ul class="list-group">
	{% for member in members %}
		<li class="list-group-item">
			<a style="color:red; text-decoration: none" href="" onclick="deleteMemberFromGroup('{{ members_type }}', {{ member.id }})">X</a>
			{{ member.name }}
		</li>
	{% endfor %}
</ul>
