{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h2 class="title" style="display:inline-block; padding-right:12px">Individuals</h2>
		{% include 'utils/add_button.html' with target_modal_id='modalForm' tooltip_text='Add a new individual' %}
		<button class="btn-primary btn-lg" type="button" onclick="getModal('modal_new_subject')">Add new individual</button>
	</div>
	
	<select class="select form-control" name="species" id="select_species">
		<option value="">All Species</option>
		{% for species in species_list %}
			<option value="{{ species.id }}">{{ species.name }}</option>
		{% endfor %}
	</select>
	
	{% include 'model_editor/subject_table.html' %}
{% endblock content %}
