{% load crispy_forms_tags %}
{# Note: Set id_suffix to allow for multiple modal forms in a single page #}
{# Toggle modal on by having an input tage by setting data-toggle="modal" & data-target="#modalForm" in your input tag #}
<div class="modal fade" id="modalForm{{ id_suffix }}" tabindex="-1" role="dialog" aria-labelledby="modalFormTitle{{ id_suffix }}" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalFormTitle{{ id_suffix }}">{{ title }}</h5>
			</div>
			<form method="POST">
				<div class="modal-body">
					{% csrf_token %}
					{{ form|crispy }}
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" name="{{ submit_btn_name }}">Save</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
