{% extends "base.html" %}
{% block content %}
	<div class="row col-lg-8">
		<div class="col">Name</div>
		<div class="col">{{ species.name }}</div>
	</div>
	<div class="row col-lg-8">
		<div class="col">Image</div>
		<div class="col">
			<img class="img-fluid" src="data:image/png;base64,{{ species.image }}"/>
		</div>
	</div>
	<div class="row col-lg-8">
		<div class="col">Audio</div>
		<div class="col">
			<audio controls>
				<source src="data:audio/mp3;base64,{{ species.audio }}"/>
			</audio>
		</div>
	</div>
	<div class="row col-lg-8">
		<div class="col">Description</div>
		<div class="col"><p class="p">{{ species.description }}</p></div>
	</div>
	
	<div class="row col-lg-8">
		<div class="col">QR Code</div>
		<a download="{{ species.name }}-QR-Code" href="data:image/png;base64,{{ species.qrcode }}">
			<img class="img-fluid" src="data:image/png;base64,{{ species.qrcode }}" />
		</a>
	</div>
{% endblock %}