<table id="subject-table" class="subject-table">
	{% for subject in subjects %}
		{% if forloop.counter0|divisibleby:2 %}
			<tr>
				<th>
					<a href="{{ subject.id }}" style="text-decoration:none">
						<div class="mx-3 my-3 content-section">
							<div class="row">
								 <div class="col-sm">
									<img class="rounded-circle subject-thumbnail vertical-center" src="{{ subject.image_html_src }}"/>
								 </div>
								 <div class="col-sm">
									 <br>
									 <h1>{{subject.name}}</h1>
								 </div>
							</div>
						</div>
					</a>
				</th>
		{% else %}
			<th>
				<a href="{{ subject.id }}" style="text-decoration:none">
					<div class="mx-3 my-3 content-section">
						<div class="row">
							<div class="col-sm">
								<img class="rounded-circle subject-thumbnail vertical-center" src="{{ subject.image_html_src }}"/>
							</div>
							<div class="col-sm">
								<br>
								<h1>{{subject.name}}</h1>
							</div>
						</div>
					</div>
				</a>
			</th>
			</tr>
		{% endif %}
	{% endfor %}
</table>