{% load crispy_forms_tags %}

{{ form.name|as_crispy_field }}

{% if subject.species %}
	<table>
		<tr>
			<td><legend>Species:</legend></td>
			<td>{{ subject.species.name }}</td>
		</tr>
	</table>
{% elif form.species %}
	{{ form.species|as_crispy_field }}
{% endif %}

<hr>

{{ form.image|as_crispy_field }}

<hr>

{% if 'audio' in form.fields %}
	{{ form.audio|as_crispy_field }}
	<hr>
{% endif %}

{% if 'gender' in form.fields %}
	{{ form.gender|as_crispy_field }}
	<hr>
{% endif %}

{% if 'dob' in form.fields %}
	{{ form.dob|as_crispy_field }}
	<hr>
{% endif %}

{% if 'place_of_birth' in form.fields %}
	{{ form.place_of_birth|as_crispy_field }}
	<hr>
{% endif %}

{% if 'weight' in form.fields %}
	{{ form.weight|as_crispy_field }}
	<hr>
{% endif %}

{% if 'size' in form.fields %}
	{{ form.size|as_crispy_field }}
	<hr>
{% endif %}