<table id="subject-table" class="subject-table">
	{% for subject in subjects %}
		{% cycle '<tr>' '' %}
		<th>
			<a href="{{ subject.id }}" style="text-decoration:none">
				<div class="mx-3 my-3 content-section shadow">
					<div class="row">
						 <div class="col-sm">
							<img class="rounded-circle subject-thumbnail" src="data:image/png;base64,{{ subject.image_str}}"/>
						 </div>
						 <div class="col-sm subject-label">
							 <h3>{{ subject.name }}</h3>
						 </div>
					</div>
				</div>
			</a>
		</th>
		{% cycle '' '</tr>' %}
	{% endfor %}
</table>