{% extends "base.html" %}
{% load static %}
{% block content %}
	<table class="subject-table">
		{% for subject in all_subjects %}
			{% cycle '<tr>' '' %}
			<th>
				<a href="{{ subject.id }}" style="text-decoration:none">
					<div class="mx-3 my-3 content-section">
						<div class="row">
							 <div class="col-sm">
								<img class="rounded-circle subject-thumbnail vertical-center" src="data:image/png;base64,{{ subject.image_html_src }}"/>
							 </div>
							 <div class="col-sm">
								 <br>
								 <h1>{{ subject.name }}</h1>
							 </div>
						</div>
					</div>
				</a>
			</th>
			{% cycle '' '</tr>' %}
		{% endfor %}
	</table>
{% endblock %}