{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<form enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		{{ attributes_formset.management_form }}
		
		{% include 'model_editor/subject_form_fields.html' with form=subject_form %}
		
		<br/>
		<label>Attributes</label>
		{% if new_attribute_form %}
			<br/>
			<button type="button" data-toggle="modal" data-target="#modalForm">Add new attribute</button>
			<br/>
		{% endif %}
		<br/>
			<table>
				{{ attributes_formset|crispy }}
			</table>
		<button class="btn-primary btn-lg" name="submit" type="submit">Submit</button>
	</form>
	{% if new_attribute_form %}
		{% include 'utils/modals/modal_form_simple.html' with form=new_attribute_form submit_btn_name='add_new_attribute' title='New Attribute' %}
		{% include 'model_editor/qrcode_modal.html' with qr_code=subject.qr_code filename='QR Code - '|add:subject.name id_prefix="qrcode_" %}
	{% endif %}
{% endblock content %}

{% block extra_navbar_items %}
	{% if subject.qr_code %}
		<a class="nav-link mx-2 no-vertical-padding" type="button" data-toggle="modal" data-target="#qrcode_modalForm">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
				<path d="M15,21h-2v-2h2V21z M13,14h-2v5h2V14z M21,12h-2v4h2V12z M19,10h-2v2h2V10z M7,12H5v2h2V12z M5,10H3v2h2V10z M12,5h2V3h-2V5 z M4.5,4.5v3h3v-3H4.5z M9,9H3V3h6V9z M4.5,16.5v3h3v-3H4.5z M9,21H3v-6h6V21z M16.5,4.5v3h3v-3H16.5z M21,9h-6V3h6V9z M19,19v-3 l-4,0v2h2v3h4v-2H19z M17,12l-4,0v2h4V12z M13,10H7v2h2v2h2v-2h2V10z M14,9V7h-2V5h-2v4L14,9z M6.75,5.25h-1.5v1.5h1.5V5.25z M6.75,17.25h-1.5v1.5h1.5V17.25z M18.75,5.25h-1.5v1.5h1.5V5.25z"/>
			</svg>
		</a>
	{% endif %}
{% endblock %}