{% load crispy_forms_tags %}

{{ form.name|as_crispy_field }}

{% if subject.species and subject.individuals %} {# Groups #}
	<hr>
	
	<div class="row">
		<div id="group_members_species" class="col">
			{% include 'model_editor/group_members.html' with title='Species' members_type='species' members=subject.species.all non_members=subject.non_member_species %}
		</div>
		<div id="group_members_individuals" class="col">
			{% include 'model_editor/group_members.html' with title='Individuals' members_type='individuals' members=subject.individuals.all non_members=subject.non_member_individuals %}
		</div>
	</div>
{% elif subject.species %} {# Individuals #}
	<table>
		<tr>
			<td><legend>Species:</legend></td>
			<td>{{ subject.species.name }}</td>
		</tr>
	</table>
{% endif %}

<hr>

<legend>{{ form.image.label }}</legend>
<img id="id_subject_image_display" style="max-height:200px" src="data:image/png;base64,{{ subject.image_str }}"/>
<br/><br/>
{{ form.image }}

<hr>

{% if 'audio' in form.fields %}
	<legend>{{ form.audio.label }}</legend>
	<audio id="id_audio_control" controls><source id="id_subject_audio_display" src="data:audio/mp3;base64,{{ subject.audio_str }}"/></audio>
	<br/><br/>
	{{ form.audio }}
	{% if subject.audio %}
		<input type="checkbox" id="DELETE-FIELD_audio" name="DELETE-FIELD_audio">
		<label for="DELETE-FIELD_audio" class="form-check-label">Delete</label>
	{% endif %}
	<hr>
{% endif %}

{% if 'gender' in form.fields %}
	{{ form.gender|as_crispy_field }}
	<hr>
{% endif %}

{% if 'dob' in form.fields %}
	{{ form.dob|as_crispy_field }}
	<hr>
{% endif %}

{% if 'place_of_birth' in form.fields %}
	{{ form.place_of_birth|as_crispy_field }}
	<hr>
{% endif %}

{% if 'weight' in form.fields %}
	{{ form.weight|as_crispy_field }}
	<hr>
{% endif %}

{% if 'size' in form.fields %}
	{{ form.size|as_crispy_field }}
	<hr>
{% endif %}