{% extends "base.html" %}
{% block content %}
	<div class="container">
		<table style="width:100%; margin-bottom: 54px">
			<tr>
				<td style="width:33.33%">
					<img class="zoo-thumbnail" style="float:left" src="{{ zoo.image.url }}"/>
				</td>
				<td style="width:33.33%; text-align:center">
					<h1 class="title">{{ zoo.name }}</h1>
				</td>
				<td style="width:33.33%">
					<button type="button" class="btn btn-warning" style="float:right"
							{% if zoo.can_commit %}
								data-toggle="modal" data-target="#modalForm"
							{% else %}
								data-toggle="tooltip" data-placement="top" title="
									Cannot commit to the Zooverse app.
									Please wait another {{ zoo.days_until_commit_allowed }} day{{ zoo.days_until_commit_allowed|pluralize:'s' }}.
								"
							{% endif %}
					>Commit to ZooVerse</button>
				</td>
			</tr>
		</table>
		
		<button type="button" class="zoo-page-btn btn-lg btn-block my-1" onclick="location='{% url 'species_list' zoo.id %}'">Edit Species</button>
		
		<button type="button" class="zoo-page-btn btn-lg btn-block my-1" onclick="location='{% url 'individuals_list' zoo.id %}'">Edit Individuals</button>
		
		<button type="button" class="zoo-page-btn btn-lg btn-block my-1" onclick="location='#'">Edit Groups</button>
		
		<button type="button" class="zoo-page-btn btn-lg btn-block my-1" onclick="location='{% url 'attributes_list' zoo.id%}'">Edit Attributes</button>
		
	</div>
	{% if zoo.can_commit %}
		{% include 'model_editor/zoo_commit_modal.html' %}
	{% endif %}
{% endblock %}