{% extends "base.html" %}
{% block content %}
	<div class="container">
		{% for zoo in zoos %}
			<a href="{{ zoo.id }}" style="text-decoration:none">
					<div class="mx-3 my-3 content-section">
						<div class="row">
							 <div class="col-sm">
								<img class="zoo-thumbnail vertical-center" src="{{ zoo.image.url }}"/>
							 </div>
							 <div class="col-sm">
								 <h1 class="title">{{zoo.name}}</h1>
							 </div>
						</div>
					</div>
				</a>
			<br/>
		{% endfor %}
	</div>
{% endblock %}