<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">{% block title %}{% endblock %}</h5>
			</div>
			<div class="modal-body">
				{% block body %}{% endblock %}
			</div>
			<div class="modal-footer">
				{% block footer %}{% endblock %}
			</div>
		</div>
	</div>
</div>
