{% extends 'utils/modals/modal.html' %}

{% block title %}Delete {{ object }}{% endblock %}

{% block body %}
	<p>Are you sure you want to delete {{ object }}?</p>
	<p>This will permanently remove all its associated data!</p>
{% endblock %}

{% block footer %}
	<form method="POST">
		{% csrf_token %}
		<input type="hidden" name="object_id" value="{{ object.id }}">
		<button type="submit" class="btn btn-danger" name="submit_delete">Delete</button>
	</form>
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
{% endblock %}